#sbt
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/metals.sbt

.travel/
.bsp
.idea
.bloop
.vscode
.metals
.DS_Store

*.iml

.loyaltea